<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My test html </title>

  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Almarai:wght@800&amp;family=Nunito+Sans&amp;display=swap" />
</head>

<body>
  <div class="container">
    <div class="content">
      <img src="https://assets.codepen.io/43365/logo.svg" alt="DigitalOcean Logo" width="100" />
      <h1>Welcome to your new <a href="https://flask.palletsprojects.com/en/1.1.x/">Flask App</a>!</h1>

      <p>
        This application is an example of how Rob Jobse deploys a Flask Application to DigitalOcean's App
        Platform. Check out their <a href="https://flask.palletsprojects.com/en/1.1.x/quickstart/">documentation</a> to
        learn more about flask.
      </p>

    </div>

    <div class="links">
      <a href="https://github.com/MasonEgger/python-slackbot-sampleapp" target="_blank"
        rel="noopener noreferrer"><strong>Sample Slackbot using Flask</strong>
        <span>Learn how to build a Slackbot in Python</span>
      </a>
      <a href="https://www.digitalocean.com/docs/app-platform/languages-frameworks/python/" target="_blank"
        rel="noopener noreferrer"><strong>DigitalOcean App Platform Docs for Flask</strong>
        <span>DigitalOcean's reference documentation for Flask</span>
      </a>
      <a href="https://www.digitalocean.com/docs/app-platform/" target="_blank" rel="noopener noreferrer"><strong>App
          Platform Documentation</strong><span>Learn about DigitalOcean's App Platform</span></a>
      <a href="https://www.digitalocean.com/docs/droplets/how-to/" target="_blank" rel="noopener noreferrer"><strong>App
          Platform API Documentation</strong>
        <span>REST API Documentation for App Platform</span>
      </a>
    </div>
  </div>

  <div id="stripes">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>


</body>

</html>
